:root{
    --nav-color--:#bcb9ff;
    --background--:#d5dbff;
    --color1--:#9cace5;
    --color2--:#8d84ff;
    --color3--:#7b75ff;
    --color4--: #7289da;
}

#container{
    margin-top:120px;
}

#notePad, #allNotes, #done, .delete, #folderPad, #allfolders, #rename, .action, #allfiles {
    display: none;
}


.formulario {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    /* background: inherit; */
    background-color: var(--background--);
    overflow: hidden;
    padding: 1em;
}

.formulario:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

textarea{
    width: 100%;
    max-width: 100%;
    background: url(img/line.png) round;
    font: normal 14px verdana;
    line-height: 25px;
    padding: 2px 10px;
    border: solid 1px #ddd;
    outline: none;
    border-left-width: 20px;
    border-color: var(--color2--);
    resize: none;
}

.buttons{
    margin-bottom:20px;
}

.btn-custom3{
    background-color: var(--color1--);
}

.btn-custom3:hover{
    background-color: var(--color4--);
}

.table-style{
    background-color: var(--color1--);
}

.h2-style{
    margin-top:5%;
    background-color:#d5dbff;
    padding: 5px;
}

tr{
    cursor: pointer;
}

.text{
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.timetext{
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
